export(CombDM)
export(Curvature)
export(DiveMaster)
export(DivSampleNum)
export(DivSubsamples)
export(FitSingleMod)
export(PopDiversity)
export(ScoreSingleMod)
import(FME, deSolve, sp)
importFrom("graphics", "lines", "points")
importFrom("stats", "integrate", "sd")
importFrom("utils", "tail")
S3method(summary,DiveMaster)
S3method(summary,DivSubsamples)
S3method(summary,FitSingleMod)
S3method(summary,ScoreSingleMod)
S3method(print,DiveMaster)
S3method(print,DivSubsamples)
S3method(print,FitSingleMod)
S3method(print,ScoreSingleMod)
S3method(plot,FitSingleMod)
S3method(print,summary.DiveMaster)
S3method(print,summary.DivSubsamples)
S3method(print,summary.FitSingleMod)
S3method(print,summary.ScoreSingleMod)