#exportPattern("^[[:alpha:]]+")
export(DiveMaster)

import(FME, deSolve, rgeos, sp)
importFrom("graphics", "lines", "points")
importFrom("stats", "integrate", "sd")
importFrom("utils", "tail")

S3method(summary,DiversityMaster)
S3method(summary,divsubsamples)
S3method(summary,fitsingleMod)
S3method(summary,scoresingleMod)
S3method(print,DiversityMaster)
S3method(print,divsubsamples)
S3method(print,fitsingleMod)
S3method(print,scoresingleMod)
S3method(plot,fitsingleMod)
S3method(DiveMaster,default)
S3method(divsamplenum,default)
S3method(fitsinglemod,default)
S3method(scoresinglemod,default)
S3method(print,summary.DiversityMaster)
S3method(print,summary.divsubsamples)
S3method(print,summary.fitsingleMod)
S3method(print,summary.scoresingleMod)